{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crab Tides</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

    <div id="header">

        <h3 id="logo">&nbsp;<img src="https://cdn4.iconfinder.com/data/icons/zodiac-and-horoscope-outlines/100/06-512.png" height="80">&nbsp;CrabTides.com&nbsp;&nbsp;</h3>

        <div id="login_header">
            <h2>&nbsp;&nbsp;SELECT A LOCATION&nbsp;&nbsp;></h2>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div id="location_picker">
            <div id="region">Region: &nbsp;
            <select id="region_list">
                <option value="">Please select a region...</option>
                <option value="California">California</option>
                <option value="Oregon">Oregon</option>
                <option value="Washington">Washington</option>
                <!--
                {% for s in states %}
                    <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
                -->
            </select>
            </div>
            <div id="location">Location: &nbsp;
            <select id="location_list">
                <option value=""></option>
            </select>
            </div>
            <input type="submit" value="Show me the tides" id="redirect">
        </div>

    </div>

    <div id="container">



    </div>

    <div id="footer">
        <a href="http://www.lechxk.com" target="_blank"><p id="copyright">&copy; Lech X. Kaiel 2017</p></a>
        <p>Special thanks to:</p>
        <a href="http://www.noaa.gov/" target="_blank"><img src="http://www.crh.noaa.gov/Image/grr/icon/kml/noaa.png" height="30">&nbsp;NOAA.gov</a>
        <a href="http://www.wunderground.com" target="_blank"><img src="https://icons.wxug.com/logos/PNG/wundergroundLogo_4c_rev_horz.png" height="30"></a>
        <a href="http://sunrise-sunset.org/" target="_blank"><img src="https://www.routecast.org/images/sunriseSunset-logo.png" height="30">&nbsp;Sunrise-Sunset.org</a>
    </div>

    <script>

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $("#region_list").change(function(){
            var selected_value = this.value;
            $.ajax({
                url: "/locations/",
                type: "POST",
                data: {"region": selected_value},

                success: function (data) {

                    var target = $("#location_list");
                    target.empty();

                    data.loc.forEach(function(e){
                        target.append(new Option (e[0], e[1]));
                    })

                }
            })
        });


        $('#redirect').click(function (e) {

            e.preventDefault();

            var location = $('#location_list').val();
            console.log(location);

            window.location = "/" + location;

        });

    </script>



</body>
</html>