{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crab Tides</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

    <div id="header">

        <a href="{% url 'login' %}" class="no_border"><h3 id="logo">&nbsp;<img src="https://cdn4.iconfinder.com/data/icons/zodiac-and-horoscope-outlines/100/06-512.png" height="80">&nbsp;CrabTides.com&nbsp;&nbsp;</h3></a>

        <h3 id="current">Current tide info:<br/>{{ current_location }}</h3>

        <div id="legend">
            <table id="condition_legend">
                <tr>
                    <th rowspan="2" id="legend_title">TIDE &#9651;<br>LEGEND</th>
                    <th class="legend_header">Day</th>
                    <td class="legend_item" class="day-poor">Normal</td>
                    <td class="day-moderate">Good</td>
                    <td class="day-good">Optimal</td>
                </tr>
                <tr>
                    <th class="legend_header">Night</th>
                    <td colspan="3" class="night-good">All tide changes</td>
                </tr>
                <tr>
                    <th colspan="2" id="rain_forecast">Rain forecast:</th>
                    <td class="rain-heavy">Heavy</td>
                    <td class="rain-moderate">Moderate</td>
                    <td class="legend_item" class="rain-light">Light</td>
                </tr>
            </table>
        </div>

        <a href="#currentmonth" id="jump">
            <p><i>jump to</i>
            <br>
            TODAY</p>
        </a>

        <div id="location_picker">
            <div id="region">Region: &nbsp;
            <select id="region_list">
                <option value="">Please select a region...</option>
                <option value="California">California</option>
                <option value="Oregon">Oregon</option>
                <option value="Washington">Washington</option>
                <!--
                {% for s in states %}
                    <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
                -->
            </select>
            </div>
            <div id="location">Location: &nbsp;
            <select id="location_list">
                <option value=""></option>
            </select>
            </div>
            <input type="submit" value="Show me the tides" id="redirect">
        </div>

    </div>

    <div id="container">
        {{ cal | safe }}
    </div>

    <div id="footer">
        <a href="http://www.lechxk.com" target="_blank"><p id="copyright">&copy; Lech X. Kaiel 2017</p></a>
        <p>Special thanks to:</p>
        <a href="http://www.noaa.gov/" target="_blank"><img src="http://www.crh.noaa.gov/Image/grr/icon/kml/noaa.png" height="30">&nbsp;NOAA.gov</a>
        <a href="http://www.wunderground.com" target="_blank"><img src="https://icons.wxug.com/logos/PNG/wundergroundLogo_4c_rev_horz.png" height="30"></a>
        <a href="http://sunrise-sunset.org/" target="_blank"><img src="https://www.routecast.org/images/sunriseSunset-logo.png" height="30">&nbsp;Sunrise-Sunset.org</a>
    </div>

    <script>

        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $("#region_list").change(function(){
            var selected_value = this.value;
            $.ajax({
                url: "/locations/",
                type: "POST",
                data: {"region": selected_value},

                success: function (data) {

                    var target = $("#location_list");
                    target.empty();

                    data.loc.forEach(function(e){
                        target.append(new Option (e[0], e[1]));
                    })

                }
            })
        });


        $('#redirect').click(function (e) {

            e.preventDefault();

            var location = $('#location_list').val();
            console.log(location);

            window.location = '/' + location;

        });

    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91390182-2', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>