body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    background: url("../img/underwater.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    height: 90px;
    color: whitesmoke;
    text-align: center;
    background: rgba(0,0,255,0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo {
    background: lightblue;
    border: solid 3px lightblue;
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
}

#location_picker {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

#current {
    width: 250px;
    border: solid 3px lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
}

#jump {
    border: solid 3px lightblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    width: 80px;
    line-height: 1.5;
}

#legend {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

#condition_legend {
    border: solid 3px lightblue;
    border-radius: 10px;
    padding-right: 6px;
    background: lightblue;
}

.legend_header {
    display: flex;
    align-items: flex-start;
    padding-left: 4px;
    padding-right: 4px;
    background: darkblue;
    color: white;
}

.legend_item {
    background: darkblue;
    color: lightblue;
}

#legend_title {
    color: darkblue;
}

#rain_forecast {
    background: white;
    color: darkblue;
}

#container {
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: gray;
    border-bottom: 1px dotted gray;
}

.no_border {
    border: none;
}

#footer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: gray;
    background: rgba(0,0,255,0.2);
}

#copyright {
    padding: 2px;
    margin: 0;
}

th {
    color: lightblue;
}

td {
    color: lightblue;
    text-align: center;
    font-size: 1em;
}

th.month {
    height: 50px;
    font-size: 1.5em;
}

th.sun {
    height: 30px;
}

.noday {
    border: transparent;
    color: transparent;
}

.day {
    border: solid 1px lightblue;
    min-height: 100px;
    font-size: .8em;
    margin-bottom: 5px;
}

.invisibleRow {
    color: transparent;
}

.datenumber {
    background: darkblue;
    border-bottom: solid 1px lightblue;
    width: 25px;
}

.feet {
    border-bottom: solid 1px lightblue;
    width: 40px;
}

.time {
    border-bottom: solid 1px lightblue;
    width: 60px;
}

.change {
    border-bottom: solid 1px lightblue;
    width: 40px;
}

.forecast {
    border-bottom: solid 1px lightblue;
    border-top: solid 1px lightblue;
}

.night-good, .night-moderate, .night-poor {
    background: darkslategray;
}

.day-good {
    background: limegreen;
    color: black;
}

.day-moderate {
    background: seagreen;
}

.day-poor {

}

.rain-heavy {
    background: red;
}

.rain-moderate {
    background: darkred;
}

.rain-light {

}
